<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>IconFont Demo</title>
  <link rel="shortcut icon" href="https://gtms04.alicdn.com/tps/i4/TB1_oz6GVXXXXaFXpXXJDFnIXXX-64-64.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="iconfont.css">
  <script src="iconfont.js"></script>
  <!-- jQuery -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/7bfddb60-08e8-11e9-9b04-53e73bb6408b.js"></script>
  <!-- 代码高亮 -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/a3f714d0-08e6-11e9-8a15-ebf944d7534c.js"></script>
</head>
<body>
  <div class="main">
    <h1 class="logo"><a href="https://www.iconfont.cn/" title="iconfont 首页" target="_blank">&#xe86b;</a></h1>
    <div class="nav-tabs">
      <ul id="tabs" class="dib-box">
        <li class="dib active"><span>Unicode</span></li>
        <li class="dib"><span>Font class</span></li>
        <li class="dib"><span>Symbol</span></li>
      </ul>
      
      <a href="https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=1405187" target="_blank" class="nav-more">查看项目</a>
      
    </div>
    <div class="tab-container">
      <div class="content unicode" style="display: block;">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
              <span class="icon iconfont">&#xe607;</span>
                <div class="name">搜索</div>
                <div class="code-name">&amp;#xe607;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6cf;</span>
                <div class="name">suo-3</div>
                <div class="code-name">&amp;#xe6cf;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6d0;</span>
                <div class="name">wodedangxuan-copy</div>
                <div class="code-name">&amp;#xe6d0;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6fe;</span>
                <div class="name">yanjing-</div>
                <div class="code-name">&amp;#xe6fe;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ea;</span>
                <div class="name">cha</div>
                <div class="code-name">&amp;#xe6ea;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6eb;</span>
                <div class="name">guanzhu</div>
                <div class="code-name">&amp;#xe6eb;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ec;</span>
                <div class="name">-</div>
                <div class="code-name">&amp;#xe6ec;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ed;</span>
                <div class="name">huiyuan</div>
                <div class="code-name">&amp;#xe6ed;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ee;</span>
                <div class="name">icon-_2</div>
                <div class="code-name">&amp;#xe6ee;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ef;</span>
                <div class="name">icon-_1的副本</div>
                <div class="code-name">&amp;#xe6ef;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f0;</span>
                <div class="name">huida</div>
                <div class="code-name">&amp;#xe6f0;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f1;</span>
                <div class="name">icon-_1</div>
                <div class="code-name">&amp;#xe6f1;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f2;</span>
                <div class="name">icon-_4</div>
                <div class="code-name">&amp;#xe6f2;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f3;</span>
                <div class="name">icon-_3</div>
                <div class="code-name">&amp;#xe6f3;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f4;</span>
                <div class="name">icon-_5</div>
                <div class="code-name">&amp;#xe6f4;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f5;</span>
                <div class="name">icon-</div>
                <div class="code-name">&amp;#xe6f5;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f6;</span>
                <div class="name">icon-_2的副本</div>
                <div class="code-name">&amp;#xe6f6;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f7;</span>
                <div class="name">tuanduicankaoxian-</div>
                <div class="code-name">&amp;#xe6f7;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f8;</span>
                <div class="name">icon-的副本</div>
                <div class="code-name">&amp;#xe6f8;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f9;</span>
                <div class="name">tubiaozhizuo-</div>
                <div class="code-name">&amp;#xe6f9;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6fa;</span>
                <div class="name">shoucang-2</div>
                <div class="code-name">&amp;#xe6fa;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6fb;</span>
                <div class="name">wenti</div>
                <div class="code-name">&amp;#xe6fb;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6fc;</span>
                <div class="name">shoucang</div>
                <div class="code-name">&amp;#xe6fc;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6fd;</span>
                <div class="name">xiaoxi</div>
                <div class="code-name">&amp;#xe6fd;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ff;</span>
                <div class="name">dagou</div>
                <div class="code-name">&amp;#xe6ff;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe700;</span>
                <div class="name">arrow-right</div>
                <div class="code-name">&amp;#xe700;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe701;</span>
                <div class="name">cha</div>
                <div class="code-name">&amp;#xe701;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe702;</span>
                <div class="name">haiwai_jingjiren</div>
                <div class="code-name">&amp;#xe702;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe703;</span>
                <div class="name">hezuo</div>
                <div class="code-name">&amp;#xe703;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe704;</span>
                <div class="name">jiantou</div>
                <div class="code-name">&amp;#xe704;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe705;</span>
                <div class="name">search-copy-copy</div>
                <div class="code-name">&amp;#xe705;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe706;</span>
                <div class="name">qiye</div>
                <div class="code-name">&amp;#xe706;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe707;</span>
                <div class="name">pinglun</div>
                <div class="code-name">&amp;#xe707;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe708;</span>
                <div class="name">laodongjiaoyu</div>
                <div class="code-name">&amp;#xe708;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe709;</span>
                <div class="name">未标题-1-03</div>
                <div class="code-name">&amp;#xe709;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe70a;</span>
                <div class="name">未标题-1_画板 1</div>
                <div class="code-name">&amp;#xe70a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe70b;</span>
                <div class="name">未标题-1-02</div>
                <div class="code-name">&amp;#xe70b;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe611;</span>
                <div class="name">商品出库</div>
                <div class="code-name">&amp;#xe611;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe612;</span>
                <div class="name">等待收货</div>
                <div class="code-name">&amp;#xe612;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe613;</span>
                <div class="name">付款成功</div>
                <div class="code-name">&amp;#xe613;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe614;</span>
                <div class="name">完成</div>
                <div class="code-name">&amp;#xe614;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe615;</span>
                <div class="name">提交订单</div>
                <div class="code-name">&amp;#xe615;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe676;</span>
                <div class="name">返回 (1)</div>
                <div class="code-name">&amp;#xe676;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe678;</span>
                <div class="name">fanhui-1</div>
                <div class="code-name">&amp;#xe678;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe648;</span>
                <div class="name">设备</div>
                <div class="code-name">&amp;#xe648;</div>
              </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="unicode-">Unicode 引用</h2>
          <hr>

          <p>Unicode 是字体在网页端最原始的应用方式，特点是：</p>
          <ul>
            <li>兼容性最好，支持 IE6+，及所有现代浏览器。</li>
            <li>支持按字体的方式去动态调整图标大小，颜色等等。</li>
            <li>但是因为是字体，所以不支持多色。只能使用平台里单色的图标，就算项目里有多色图标也会自动去色。</li>
          </ul>
          <blockquote>
            <p>注意：新版 iconfont 支持多色图标，这些多色图标在 Unicode 模式下将不能使用，如果有需求建议使用symbol 的引用方式</p>
          </blockquote>
          <p>Unicode 使用步骤如下：</p>
          <h3 id="-font-face">第一步：拷贝项目下面生成的 <code>@font-face</code></h3>
<pre><code class="language-css"
>@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
</code></pre>
          <h3 id="-iconfont-">第二步：定义使用 iconfont 的样式</h3>
<pre><code class="language-css"
>.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取字体编码，应用于页面</h3>
<pre>
<code class="language-html"
>&lt;span class="iconfont"&gt;&amp;#x33;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
          </blockquote>
          </div>
      </div>
      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon iconfont iconguanbi"></span>
            <div class="name">
              搜索
            </div>
            <div class="code-name">.iconguanbi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconsuo-"></span>
            <div class="name">
              suo-3
            </div>
            <div class="code-name">.iconsuo-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconwodedangxuan-copy"></span>
            <div class="name">
              wodedangxuan-copy
            </div>
            <div class="code-name">.iconwodedangxuan-copy
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconyanjing-"></span>
            <div class="name">
              yanjing-
            </div>
            <div class="code-name">.iconyanjing-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconcha"></span>
            <div class="name">
              cha
            </div>
            <div class="code-name">.iconcha
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconguanzhu"></span>
            <div class="name">
              guanzhu
            </div>
            <div class="code-name">.iconguanzhu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-"></span>
            <div class="name">
              -
            </div>
            <div class="code-name">.icon-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconhuiyuan"></span>
            <div class="name">
              huiyuan
            </div>
            <div class="code-name">.iconhuiyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_"></span>
            <div class="name">
              icon-_2
            </div>
            <div class="code-name">.iconicon-_
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_defuben"></span>
            <div class="name">
              icon-_1的副本
            </div>
            <div class="code-name">.iconicon-_defuben
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconhuida"></span>
            <div class="name">
              huida
            </div>
            <div class="code-name">.iconhuida
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_1"></span>
            <div class="name">
              icon-_1
            </div>
            <div class="code-name">.iconicon-_1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_2"></span>
            <div class="name">
              icon-_4
            </div>
            <div class="code-name">.iconicon-_2
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_3"></span>
            <div class="name">
              icon-_3
            </div>
            <div class="code-name">.iconicon-_3
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_4"></span>
            <div class="name">
              icon-_5
            </div>
            <div class="code-name">.iconicon-_4
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-"></span>
            <div class="name">
              icon-
            </div>
            <div class="code-name">.iconicon-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-_defuben1"></span>
            <div class="name">
              icon-_2的副本
            </div>
            <div class="code-name">.iconicon-_defuben1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icontuanduicankaoxian-"></span>
            <div class="name">
              tuanduicankaoxian-
            </div>
            <div class="code-name">.icontuanduicankaoxian-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconicon-defuben"></span>
            <div class="name">
              icon-的副本
            </div>
            <div class="code-name">.iconicon-defuben
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icontubiaozhizuo-"></span>
            <div class="name">
              tubiaozhizuo-
            </div>
            <div class="code-name">.icontubiaozhizuo-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconshoucang-"></span>
            <div class="name">
              shoucang-2
            </div>
            <div class="code-name">.iconshoucang-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconwenti"></span>
            <div class="name">
              wenti
            </div>
            <div class="code-name">.iconwenti
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconshoucang"></span>
            <div class="name">
              shoucang
            </div>
            <div class="code-name">.iconshoucang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconxiaoxi"></span>
            <div class="name">
              xiaoxi
            </div>
            <div class="code-name">.iconxiaoxi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icondagou"></span>
            <div class="name">
              dagou
            </div>
            <div class="code-name">.icondagou
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconarrow-right"></span>
            <div class="name">
              arrow-right
            </div>
            <div class="code-name">.iconarrow-right
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconcha1"></span>
            <div class="name">
              cha
            </div>
            <div class="code-name">.iconcha1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconhaiwai_jingjiren"></span>
            <div class="name">
              haiwai_jingjiren
            </div>
            <div class="code-name">.iconhaiwai_jingjiren
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconhezuo"></span>
            <div class="name">
              hezuo
            </div>
            <div class="code-name">.iconhezuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconjiantou"></span>
            <div class="name">
              jiantou
            </div>
            <div class="code-name">.iconjiantou
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconsearch-copy-copy"></span>
            <div class="name">
              search-copy-copy
            </div>
            <div class="code-name">.iconsearch-copy-copy
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconqiye"></span>
            <div class="name">
              qiye
            </div>
            <div class="code-name">.iconqiye
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconpinglun"></span>
            <div class="name">
              pinglun
            </div>
            <div class="code-name">.iconpinglun
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconlaodongjiaoyu"></span>
            <div class="name">
              laodongjiaoyu
            </div>
            <div class="code-name">.iconlaodongjiaoyu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconweibiaoti--"></span>
            <div class="name">
              未标题-1-03
            </div>
            <div class="code-name">.iconweibiaoti--
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconweibiaoti-_huaban"></span>
            <div class="name">
              未标题-1_画板 1
            </div>
            <div class="code-name">.iconweibiaoti-_huaban
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconweibiaoti--1"></span>
            <div class="name">
              未标题-1-02
            </div>
            <div class="code-name">.iconweibiaoti--1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconshangpinchuku"></span>
            <div class="name">
              商品出库
            </div>
            <div class="code-name">.iconshangpinchuku
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icondengdaishouhuo"></span>
            <div class="name">
              等待收货
            </div>
            <div class="code-name">.icondengdaishouhuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconfukuanchenggong"></span>
            <div class="name">
              付款成功
            </div>
            <div class="code-name">.iconfukuanchenggong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconwancheng"></span>
            <div class="name">
              完成
            </div>
            <div class="code-name">.iconwancheng
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icontijiaodingdan"></span>
            <div class="name">
              提交订单
            </div>
            <div class="code-name">.icontijiaodingdan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconfanhui"></span>
            <div class="name">
              返回 (1)
            </div>
            <div class="code-name">.iconfanhui
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconfanhui-"></span>
            <div class="name">
              fanhui-1
            </div>
            <div class="code-name">.iconfanhui-
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont iconshebei"></span>
            <div class="name">
              设备
            </div>
            <div class="code-name">.iconshebei
            </div>
          </li>
          
        </ul>
        <div class="article markdown">
        <h2 id="font-class-">font-class 引用</h2>
        <hr>

        <p>font-class 是 Unicode 使用方式的一种变种，主要是解决 Unicode 书写不直观，语意不明确的问题。</p>
        <p>与 Unicode 使用方式相比，具有如下特点：</p>
        <ul>
          <li>兼容性良好，支持 IE8+，及所有现代浏览器。</li>
          <li>相比于 Unicode 语意明确，书写更直观。可以很容易分辨这个 icon 是什么。</li>
          <li>因为使用 class 来定义图标，所以当要替换图标时，只需要修改 class 里面的 Unicode 引用。</li>
          <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的 fontclass 代码：</h3>
<pre><code class="language-html">&lt;link rel="stylesheet" href="./iconfont.css"&gt;
</code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;span class="iconfont iconxxx"&gt;&lt;/span&gt;
</code></pre>
        <blockquote>
          <p>"
            iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
        </blockquote>
      </div>
      </div>
      <div class="content symbol">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconguanbi"></use>
                </svg>
                <div class="name">搜索</div>
                <div class="code-name">#iconguanbi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconsuo-"></use>
                </svg>
                <div class="name">suo-3</div>
                <div class="code-name">#iconsuo-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconwodedangxuan-copy"></use>
                </svg>
                <div class="name">wodedangxuan-copy</div>
                <div class="code-name">#iconwodedangxuan-copy</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconyanjing-"></use>
                </svg>
                <div class="name">yanjing-</div>
                <div class="code-name">#iconyanjing-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconcha"></use>
                </svg>
                <div class="name">cha</div>
                <div class="code-name">#iconcha</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconguanzhu"></use>
                </svg>
                <div class="name">guanzhu</div>
                <div class="code-name">#iconguanzhu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-"></use>
                </svg>
                <div class="name">-</div>
                <div class="code-name">#icon-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconhuiyuan"></use>
                </svg>
                <div class="name">huiyuan</div>
                <div class="code-name">#iconhuiyuan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_"></use>
                </svg>
                <div class="name">icon-_2</div>
                <div class="code-name">#iconicon-_</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_defuben"></use>
                </svg>
                <div class="name">icon-_1的副本</div>
                <div class="code-name">#iconicon-_defuben</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconhuida"></use>
                </svg>
                <div class="name">huida</div>
                <div class="code-name">#iconhuida</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_1"></use>
                </svg>
                <div class="name">icon-_1</div>
                <div class="code-name">#iconicon-_1</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_2"></use>
                </svg>
                <div class="name">icon-_4</div>
                <div class="code-name">#iconicon-_2</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_3"></use>
                </svg>
                <div class="name">icon-_3</div>
                <div class="code-name">#iconicon-_3</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_4"></use>
                </svg>
                <div class="name">icon-_5</div>
                <div class="code-name">#iconicon-_4</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-"></use>
                </svg>
                <div class="name">icon-</div>
                <div class="code-name">#iconicon-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-_defuben1"></use>
                </svg>
                <div class="name">icon-_2的副本</div>
                <div class="code-name">#iconicon-_defuben1</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icontuanduicankaoxian-"></use>
                </svg>
                <div class="name">tuanduicankaoxian-</div>
                <div class="code-name">#icontuanduicankaoxian-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconicon-defuben"></use>
                </svg>
                <div class="name">icon-的副本</div>
                <div class="code-name">#iconicon-defuben</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icontubiaozhizuo-"></use>
                </svg>
                <div class="name">tubiaozhizuo-</div>
                <div class="code-name">#icontubiaozhizuo-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconshoucang-"></use>
                </svg>
                <div class="name">shoucang-2</div>
                <div class="code-name">#iconshoucang-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconwenti"></use>
                </svg>
                <div class="name">wenti</div>
                <div class="code-name">#iconwenti</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconshoucang"></use>
                </svg>
                <div class="name">shoucang</div>
                <div class="code-name">#iconshoucang</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconxiaoxi"></use>
                </svg>
                <div class="name">xiaoxi</div>
                <div class="code-name">#iconxiaoxi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icondagou"></use>
                </svg>
                <div class="name">dagou</div>
                <div class="code-name">#icondagou</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconarrow-right"></use>
                </svg>
                <div class="name">arrow-right</div>
                <div class="code-name">#iconarrow-right</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconcha1"></use>
                </svg>
                <div class="name">cha</div>
                <div class="code-name">#iconcha1</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconhaiwai_jingjiren"></use>
                </svg>
                <div class="name">haiwai_jingjiren</div>
                <div class="code-name">#iconhaiwai_jingjiren</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconhezuo"></use>
                </svg>
                <div class="name">hezuo</div>
                <div class="code-name">#iconhezuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconjiantou"></use>
                </svg>
                <div class="name">jiantou</div>
                <div class="code-name">#iconjiantou</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconsearch-copy-copy"></use>
                </svg>
                <div class="name">search-copy-copy</div>
                <div class="code-name">#iconsearch-copy-copy</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconqiye"></use>
                </svg>
                <div class="name">qiye</div>
                <div class="code-name">#iconqiye</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconpinglun"></use>
                </svg>
                <div class="name">pinglun</div>
                <div class="code-name">#iconpinglun</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconlaodongjiaoyu"></use>
                </svg>
                <div class="name">laodongjiaoyu</div>
                <div class="code-name">#iconlaodongjiaoyu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconweibiaoti--"></use>
                </svg>
                <div class="name">未标题-1-03</div>
                <div class="code-name">#iconweibiaoti--</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconweibiaoti-_huaban"></use>
                </svg>
                <div class="name">未标题-1_画板 1</div>
                <div class="code-name">#iconweibiaoti-_huaban</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconweibiaoti--1"></use>
                </svg>
                <div class="name">未标题-1-02</div>
                <div class="code-name">#iconweibiaoti--1</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconshangpinchuku"></use>
                </svg>
                <div class="name">商品出库</div>
                <div class="code-name">#iconshangpinchuku</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icondengdaishouhuo"></use>
                </svg>
                <div class="name">等待收货</div>
                <div class="code-name">#icondengdaishouhuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconfukuanchenggong"></use>
                </svg>
                <div class="name">付款成功</div>
                <div class="code-name">#iconfukuanchenggong</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconwancheng"></use>
                </svg>
                <div class="name">完成</div>
                <div class="code-name">#iconwancheng</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icontijiaodingdan"></use>
                </svg>
                <div class="name">提交订单</div>
                <div class="code-name">#icontijiaodingdan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconfanhui"></use>
                </svg>
                <div class="name">返回 (1)</div>
                <div class="code-name">#iconfanhui</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconfanhui-"></use>
                </svg>
                <div class="name">fanhui-1</div>
                <div class="code-name">#iconfanhui-</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#iconshebei"></use>
                </svg>
                <div class="name">设备</div>
                <div class="code-name">#iconshebei</div>
            </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="symbol-">Symbol 引用</h2>
          <hr>

          <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
            这种用法其实是做了一个 SVG 的集合，与另外两种相比具有如下特点：</p>
          <ul>
            <li>支持多色图标了，不再受单色限制。</li>
            <li>通过一些技巧，支持像字体那样，通过 <code>font-size</code>, <code>color</code> 来调整样式。</li>
            <li>兼容性较差，支持 IE9+，及现代浏览器。</li>
            <li>浏览器渲染 SVG 的性能一般，还不如 png。</li>
          </ul>
          <p>使用步骤如下：</p>
          <h3 id="-symbol-">第一步：引入项目下面生成的 symbol 代码：</h3>
<pre><code class="language-html">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;
</code></pre>
          <h3 id="-css-">第二步：加入通用 CSS 代码（引入一次就行）：</h3>
<pre><code class="language-html">&lt;style&gt;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
&lt;/style&gt;
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;svg class="icon" aria-hidden="true"&gt;
  &lt;use xlink:href="#icon-xxx"&gt;&lt;/use&gt;
&lt;/svg&gt;
</code></pre>
          </div>
      </div>

    </div>
  </div>
  <script>
  $(document).ready(function () {
      $('.tab-container .content:first').show()

      $('#tabs li').click(function (e) {
        var tabContent = $('.tab-container .content')
        var index = $(this).index()

        if ($(this).hasClass('active')) {
          return
        } else {
          $('#tabs li').removeClass('active')
          $(this).addClass('active')

          tabContent.hide().eq(index).fadeIn()
        }
      })
    })
  </script>
</body>
</html>
