.tab_wrapper {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.tab_item {
    display: inline-block;
    height: 100%;
    line-height: 44px;
    color: #999;
    text-align: center;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    width: 50%;
}
.tab_item::after {
     content: '';
     width: 0;
     height: 2px;
     background-color: #7345CC;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     transition: width 0.6s;
 }
.tab_item.active {
    color: #7345CC;
    font-size: 18px;
}
.tab_item.active::after {
     width: 100%;
 }
